/******************************************************************

Stylesheet: Shortcodes

Styles for the shortcodes

******************************************************************/

ul.accordion {
	margin: 0 0 $global-margin;

		li.accordion-item {
			background-color: $white;
			a { 
				color: $primary-color;

				&::before, &::after {
					background-color: $primary-color; color: $white; padding: 0px;
					text-align: center; line-height: 32px;

					position: absolute;
					right: inherit;
					// left: $global-margin/2;
					right: $global-margin/2;
				}

				&::before {
					font-family: 'FontAwesome';
					content: '\f054';
					font-size: 12px; line-height: 1.8;
					width: 20px; height: 20px; border-radius: 50%; margin-top: -.8em;
				}

			}

			&.is-active {
				
				a { 
					color: $primary-color; 


					&::before {
						font-family: 'FontAwesome';
						content: '\f078';
					}
				}
			}
		}
}
ul.tabs {
	margin: 0;
}


a span.label { color: $primary-color; background-color: $light-gray; cursor: pointer; }
a:hover span.label { color: $primary-color; background-color: smart-scale($light-gray); }
span.label.category, span.label.tag { background-color: $light-gray; }


.tabs-wrapper > p { display: none; }