/******************************************************************

Stylesheet: Front Page Blocks

Styles for blocks that are placed on the home page

******************************************************************/


section.block {
	margin: $global-margin 0;

		&:first-of-type { margin-top: 0; }
		&:last-of-type { margin-bottom: 0; }

		/** 
		 * Different page block styles
		 */

		// Shows the content from the page set as Front Page
		&.page-content {}

		// Shows the front page loop from Inti Foundation parent theme
		&.front-page-loop {}

		// Shows Blog posts in columns, normally one row of three
		&.blog-posts {}

		// Shows Blog posts as above, but in one column with featured images floated left/right/left interchangeably
		&.blog-posts.variant-1 {
			article { margin: $global-margin 0; }
		}


		&.slogan {
			background-color: $light-gray;

				h2 { font-weight: 100; text-align: center; }
		}

		// Shows logos that a Featured Images of the Brand custom type
		&.featured-in {
			header.block-header {
				h3 {}
				p {}
			}
			.inti-brand-carousel {
				position: relative; display: none;

					&.slick-initialized { display: block; }
			}
		}

		&.testimonials {
			header.block-header {
				h3 {}
				p {}
			}
			.inti-testimonial-slider {
				position: relative; display: none;

					&.slick-initialized { display: block; }
			}
		}

		&.services {
			header.block-header {
				h3 {}
				p {}
			}
			article {}
		}

		&.services.variant-1 {
			header.block-header {
				h3 {}
				p {}
			}
			article {
				position: relative;
				padding: 0 0 ($global-padding * 2);

					a.read-more {
						display: block;
						position: absolute;
						bottom: $global-padding; right: 0;
					}
			}
		}

		&.gmap {
			iframe { display:block; max-height: 350px; }
		}

}