
/******************************************************************

Stylesheet: Navigation

This style sheet contains styles for all page navigation menus. This
includes the default F6 top-bar and off-canvas. This file also contains
the common styles that would apply to page navigation widgets or the 
footer menu that are part of Inti Foundation be default.

** 
This replaces _off-canvas.scss and _top-bar.scss from 
Inti Foundation v1.2.11 
**

******************************************************************/

$global-menu-background: $black;
$global-menu-color: $white;


// Common Nagivation elements and common styles
ul.site-navigation {
	background-color: transparent;

	li {
		a { color: $global-menu-color; }
		a:hover { text-decoration: underline; }

		&.current-menu-item > a { text-decoration: underline; }
		&.current-menu-perent > a, &.current-menu-ancestor > a { text-decoration: underline; }

		ul.submenu {
			li {
				a {}
			}
		}
	}
	
		// individual menu styles
		&.site-navigation-top-bar {}
		&.site-navigation-drilldown {}
		&.site-navigation-accordion {}
		&.site-navigation-footer {} // overwritten in _sitefooter.scss
		&.site-navigation-widget {} // overwritten in _sidebar.scss

		// arrows
		.is-dropdown-submenu-parent {
			> a::after { border-color: $global-menu-color transparent transparent; }
		}
		.is-accordion-submenu-parent {
			> a::after { border-color: $global-menu-color transparent transparent; }
		}
		.is-drilldown-submenu-parent {
			> a::after { border-color: transparent $global-menu-color transparent; }
		}
}


// Top Bar
.top-bar {
	background-color: $global-menu-background; // overwrites value in _settings.scss because we want to control all menus here
		.top-bar-left {}
		.top-bar-right {}

		.site-logo {}
		.site-title { color: $white; }

		.mobile-logo {
			.site-logo {}
			.site-title {}		
		}
		.sticky-logo {
			display: none;
		}

.is-stuck & {
		.sticky-logo {
			display: block;
				.site-logo { width: 150px; }
				.site-title {}		
		}
}
		ul.dropdown.menu {
			li {}

			ul { display: none; } // Loads with display: none to prevent submenu flashes. 
			ul.js-dropdown-active { display: block; }
		}
}

// Trigger for off-canvas menu 
.top-bar .off-canvas-button {
	$size-multiplier: 1.5;

	text-align: right;
	> a { 
		padding: $global-padding; // cen be reduced if the button is larger
		display: inline-block; 

			.hamburger {
				width: 1.5rem * $size-multiplier; height: 0.875rem * $size-multiplier;
				position: relative;
				display: inline-block;
				transform: rotate(0);

					span {
						display: block;
						position: absolute;
						height: 2px * $size-multiplier;
						width: 100%;
						background-color: $global-menu-color;
						opacity: 1;
						left: 0;
						transform: rotate(0);
						transition: transform 125ms linear;
							&:nth-child(1) { top: 0; }
							&:nth-child(2) { top: 0.4375rem * $size-multiplier; }
							&:nth-child(3) { top: 0.875rem * $size-multiplier; }
					}
				&.is-active {
					span {

								&:nth-child(1) { top: 0.5rem * $size-multiplier; transform: rotate(135deg); }
								&:nth-child(2) { top: 0.4375rem * $size-multiplier; opacity: 0; }
								&:nth-child(3) { top: 0.5rem * $size-multiplier; transform: rotate(45deg); }
					}
				}
			}

	}
}






// Off Canvas menu
.off-canvas-menu { 
	background-color: $black;

		.is-drilldown-submenu {}
		.js-drilldown-back a::before { border-color: transparent $white transparent transparent; }
	
}
.admin-bar>.off-canvas-menu {
	padding-top: 32px !important;

	@include breakpoint(782px down) { // only relevant if sticky turned on for mobile
		& {
			padding-top: 46px !important;
		}	
	}	
}	
