/******************************************************************

Stylesheet: Opt Ins

Styles for the opt in forms site wide.

******************************************************************/

.opt-in {

}


// Header
.opt-in.header {
	background-color: $light-gray;
	padding: $global-padding 0;
}

// Footer
.opt-in.footer {
	background-color: $light-gray;
	padding: $global-padding 0;
}

// Shortcode
.opt-in.shortcode {

}

// Blog
.opt-in.post {
	
}

// Widget
.opt-in.widget {

}